.App {
  text-align: center;
}

body {
    background : #f7f1e3;
}

.App-header {
  background-color: #227093;
  height : auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding : 20px;
}

h5 {
    margin-top: -20px;
    color : lightgrey;
}

* {
  box-sizing: border-box;
}


.column {
  float: left;
  width: 50%;
  padding: 10px;
border : none;
}

.row {
    border : 0px solid black;
    height : 110px !important;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

p {
    margin-top: -15px;
}

.my_button_ugly {
    margin-top : 10px;
}

.my_input_ugly {
    margin-top : 10px;
}

.my_button_pretty {
    width : 100px;
    height : 40px;
    background : #34ace0;
    border : none;
    border-radius : 3px;
    color : whitesmoke;
    font-size : 20px;
    cursor : pointer;
}

.my_input_pretty {
    width : 230px;
    height : 40px;
    background : whitesmoke;
    border-radius : 3px;
    color : #141414;
    font-size : 20px;
    border : 1px solid grey;
    padding-left : 8px;
}


